// COLORS
$color_1: #fff;
$color_2: black;
$color_3: #c7b299;
$color_4: #f1eee9;
$color_5: #fbfaf8;
$color_6: #221c1a;
$color_7: #c7b299;
$color_8: #5c524f;
$color_9: #998675;
$color_10: #736357;
$color_11: #c6b5a3;
$color_12: #949291;
$color_13: #2c2c2e;
$color_14: #998675;
$color_15: #d1d1d1;
$color_16: #828384;
$color_17: #4f555a;
$color_18: #555;
$color_19: #8c8c8c;
$color_20: #261e1b;
$color_21: #191919;
$color_22: #362f2d;
$color_23: #c7b299;
$color_24: #cbcbcb;
$color_25: #4e4e4e;
$color_26: #888;
$color_27: #111;
$color_28: #191919;
$color_29: #525252;
$color_30: #363636;
$color_31: #252525;
$color_32: #d3d3d3;
$color_33: #7e7162;


// FONTS
$font_main: 'Times New Roman', Times, serif;
$font_1: 'Montserrat';
$font_2: 'Raleway';
// $font_3: ;

$font-size-base: 1em;

// ICONS


// IMAGES


// SCREEN
$media-type_1: screen;

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
// Medium devices (tablets, 768px and up)
$screen-md: 768px;
// Large devices (desktops, 992px and up)
$screen-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;