@import 'sass/base/_normalize.scss';
@import 'sass/helpers/_mixins.scss';
@import 'sass/helpers/_variables.scss';

.container {
    margin: 0;
    max-width: 100%;
}
.carousel-indicators li {
    @include width-height(0.9em, 0.9em);
    border-radius: 12px;
    background-color: $color_12;    
    margin: 1em;
}
.carousel-indicators li:active  {
    border: solid 0.1em $color_11;
    background-color: $color_13;
}

html {
    padding: 0;
    margin: 0;
}
body {
    @include width-height(100%);
    font-size: $font-size-base;    
}

.wrapper {
    @include width-height(100%, auto);
}

.header {
    @include width-height(100%, 64em);
    padding-top: 2em;
    background: {
        position: center;
        size: cover;
        color: $color_2;
        image: url(../assets/img/header-mountains.png);
    }
    &__logo {
        text-align: center;
    }
    .navbar {
        justify-content: center;
    }
    &__carousel {
        margin-top: 17em;
    }
    .carousel-indicators {
        margin-bottom: -15em !important;       
    }
    
    &__carousel-items {
        text-align: center;
    }
    &__title{
        font: medium 2.2em 'Raleway';
        color: $color_1;
    }
    &__subtitle{
        font: bolder 3em 'Raleway';
        color: $color_1;
    }
    &__text{
        font: lighter 1em 'Montserrat';
        color: $color_1;
    }
    &__btn {
        color: $color_1;
        margin-top: 2em;
    }
    @media #{$media-type_1} and (max-width: $screen-sm) {
        @include width-height(100%, auto);
        .nav-link {
            color: $color_1 !important;
        }        
        .header__carousel {
            display: none;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-sm) and (max-width: $screen-md) {
        @include width-height(100%, auto);
        .nav-link {
            color: $color_1 !important;
        }        
        &__carousel {
            margin-top: 0em;
        }
        
        &__btn {
            margin: 1em 0 4em;
        }
        .carousel-indicators {
            margin-bottom: -0.5em !important;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) and (max-width: $screen-lg) {
        .carousel-indicators {
            margin-bottom: -8em !important;
        }
    }
}


// SERVICES

.services {
    @include width-height(100%, auto);
    background-color: $color_1;
    padding-top: 5.5em;
    text-align: center;
    &__container {
        padding-top: 5em;
        text-align: center;    
    }
    &__item:after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 35%; /* Change this to whatever width you want. */
        padding-top: 1.25em; /* This creates some space between the element and the border. */
        border-bottom: 0.3em solid $color_4; /* This creates the border. Replace black with whatever color you want. */
        margin-bottom: 5em;
    }
    &__item:hover:after {
        border-bottom: 0.3em solid $color_3; /* This creates the border. Replace black with whatever color you want. */
    }
    &__icon {
        padding-bottom: 1.75em;
    }
    &__title {
        font: 600 1.375em 'Raleway';
    }
}

// IDEAS

.ideas {
    @include width-height(100%, auto);
    background-color: $color_5;
    &__top {
        margin: {
            left: 0;
            right: 0;
        } 
    }   
    &__title {
        font: 700 2.1em 'Raleway';
        text-align: center;
        margin-top: 5em;
    }
    &__text {
        font: normal 1em 'Montserrat';
        text-align: center;
        margin-top: 0;
    }
    &__slider {
        @include width-height(inherit, auto);
        margin-top: 3em;
        background: {
            image: url(../assets/img/ideas-bg.png);
            repeat: no-repeat;
            position: bottom;
        }        
    }
    &__carousel-img {
        @include width-height(100%);
    }
    @media #{$media-type_1} and (max-width: $screen-md) {
        &__title {
            margin-top: 1em;
        }
        &__text {
            padding-bottom: 2em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) and (max-width: $screen-lg) {
        &__title {
            margin-top: 2em;
        }
    }
}

// WORDPRESS

.wordpress {
    @include width-height(100%, auto);
    background-color: $color_6;
    padding: 2.5em 0;
    .row {
        margin: 0 !important; 
    }
    &__row {
        text-align: center;            
    }
    &__title {
        font: normal 1.75em 'Raleway';
        color: $color_1;   
    }
    &__company {
        font: normal 1.1em 'Raleway';
        color: $color_7;
    }
    &__subtitle{
        font: normal 1.2em 'Monserrat';
        color: $color_8;
        padding: 0;
        margin: 0;  
    }
    &__button {
        font: bold 0.8em 'Raleway';
        margin-top: 1.5em;
        padding: 1em 2em;
        background-color: $color_9;
        border: solid $color_10;
        color: $color_1;
    }
}

// PROJECTS

.projects {
    &__title {
        font: 700 1.785em $font_1;
        padding-top: 2em;
        text-align: center;
    }
    &__subtitle {
        font: 500 1em $font_2;
        text-align: center;
    }
    &__btn-container {
        text-align: center;
        margin: 2.5em 0;
    }
    .btn:hover {
        background: $color_14 !important;
    }
    &__card {
        margin-bottom: 2em;
    }
    .card-body {
        background-color: $color_5 !important;
    }
    .card-img-top {
        height: 14.875em;
    }
    a { display: block; position: relative; }
    a:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(202, 159, 80, 0.5);  opacity: 0; }
    a:before { content: ''; position: absolute; top: 40%; left: 40%; right: 0; bottom: 0; background: url(../assets/img/icon-zoom.svg); background-repeat: no-repeat; opacity: 0; }
    a:hover:before,
    a:hover:after { opacity: 1; }    
    &__card-title {
        font: 500 1.3em $font_2;
        color: $color_7;
        padding-top: 1em !important;
    }
    &__card-text {
        font: 300 0.9em $font_1;
        color: $color_15;
    }
    &__button {
        margin-bottom: 3em;
        background-color: $color_7;
    }
    @media #{$media-type_1} and (max-width: $screen-sm) {
        .card-group {
            display: block;
        }
    }
}

// PRESENTATION

.presentation {
    .row {
        margin: 0;
    }
    @include width-height(100%, auto);
    padding: 2em 0 1em;
    position: relative; //mandatory for pseudoclasses
    background: {
        color: $color_16;
        image: url(../assets/img/bg-presentation.png);
        position: center center;
        size: cover;
    }
    &:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(97, 78, 60, 0.5);  opacity: 0; }
    &:hover:after { opacity: 1; } 
    &__title {
        margin-top: 1em;
        font: 600 1.9em 'Raleway';
        color: $color_1;
        text-align: center;
    }
    &__subtitle {
        font: 400 1em 'Montserrat';
        color: $color_1;
        text-align: center;
    }
    &__date {
        font: normal 0.8em 'Montserrat';
        color: $color_1;
        text-align: center;
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        @include width-height(100%, 44em);
        &__video {
            margin-top: 12em;
        }
    }
}

// EXCELLENT
.excellent {
    @include width-height(100%, auto);
    padding-top: 3em;
    background-color: $color_5;
    &__title {
        font: 600 1.9em 'Raleway';
        color: $color_18;
        text-align: center;
    }
    &__text, &__link-text {
        font: normal 1em 'Montserrat';
        color: $color_19;
        text-align: center;
    }
    &__list {
        list-style-type: none;
    }
    &__list-item {
        margin: 1em 0;
    }
    &__link:hover {
        text-decoration: none;
    }
    &__link-text {
        display: inline;
    }
    @media #{$media-type_1} and (max-width: $screen-sm) {
        background: none;
        
    }
    @media #{$media-type_1} and (max-width: $screen-xl) {
        &__hand {
            display: none;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        @include width-height(100%, 43.5em);
        &__hand {
            margin-top: 2em;
        }
        &__title {
            padding-top: 6em;
        }
        &__title, &__text {
            text-align: left;
        }
        &__list {
            padding-left: 5em;
        }
    }
}

// COUNTERS

.counters {
    @include width-height(100%, auto);
    background-color: $color_20;
    min-width: 15em;  
    &__counter {
        @include width-height(100% auto);
        margin: 2em 2.2em 0em;
        text-align: center;
    }
    &__icon {
        margin-bottom: 1em;
    }
    &__quantity {
        font: 500 3em 'Montserrat';
        color: $color_1;
        text-align: center;
    }
    &__text {
        font: 300 0.9em 'Montserrat';
        color: $color_1;
        text-align: center;
    }
    &__text:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 25%;
        padding-top: 2em;
        border-bottom: 0.1em solid $color_1;
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        &__counter {
            min-width: 12em;      
            margin: 4em 0em 3.5em;
        }
    }
}

// POSTS

.posts {
    @include width-height(100%, auto);
    background-color: $color_1;
    padding-top: 5em;
    padding-bottom: 5em;  
    &__title {
        font: 600 1.85em 'Raleway';
        color: $color_18;
        text-align: center;
    }
    &__subtitle {
        @include clearfix();
        font: 500 1em 'Montserrat';
        color: $color_19;
        text-align: center;
        padding: 1.5em 0 2.5em;
    }
    &__slider {
    }
    .card {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0.5em !important;
    }
    &__card {
        @include width-height(23.125em, auto);
        display: block; position: relative;
    }
    &__card:hover {
        background-color: $color_2;
    }
    &__card:hover &__card-title, &__card-button {
        color: $color_23;
    }
    &__card:hover &__card-subtitle {
        color: $color_1;
    }
    &__card:hover &__date {
        background: url("../assets/img/bg-posts-date-brown.png");
    }
    &__card:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(54, 47, 45, 0.5);  opacity: 0; }
    &__card:hover:after { opacity: 1; }
    
    &__card-img {
        min-height: 16.042em;
        background-color: $color_18;
    }
    &__card-title {
        font: 600 1.35 'Raleway';
        color: $color_18;
    }
    &__card-subtitle {
        font: 400 0.85 'Monserrat';
        color: $color_19;
    }
    &__card-button {
        font: 400 0.85 'Monserrat';
        color: $color_3;
    }
    &__slider-buttons {
        padding-top: 2.4em;
        text-align: center;
    }
    &__date {
        @include width-height(3.125em, 3.75em);
        position: absolute;
        top: 1em;
        left: 1em;        
        background: url("../assets/img/bg-posts-date-dark.png");
    }
    &__date-date {
        font: 600 1.5em 'Montserrat';
        color: $color_24;
        text-align: center;
        margin: 0.2em 0 0.1em;
    }
    &__date-month {
        font: 600 1em 'Montserrat';
        color: $color_24;
        text-align: center;
    }
}

// PARTNERS

.partners {
    @include width-height(100%, auto);// 30.687em);
    background: {
        image: url(../assets/img/bg-logo.png);
        position: center center;
        size: cover;
    }
    &__logos {
        padding: 8.68em 0 8em;
        text-align: center;
    }
    &__logo {
        padding: 2em;
    }
}

// SUMMERY
.summery {
    @include width-height(100%, auto);
    background-color: $color_28;
    padding-top: 4.875em;
    .card {
        background-color: $color_28;
    }
    &__waxom {
        max-width: 16.875em;
        background-color: $color_28;
    }
    &__waxom-img {
        @include width-height(179px, 56px);
        margin-left: 1.5em;
    }
    &__waxom-text {
        font: 400 0.9em 'Montserrat';
        color: $color_29;
    }
    &__waxom-link {
        font: normal 0.9em 'Montserrat';
        color: $color_15;
    }
    &__waxom-link:hover {
        color: $color_11;
    }
    &__column {
        max-width: 16.875em;
        margin: 2em 0;
    }
    &__header {
        font: bold 1.5em 'Raleway';
        color: $color_1;
    }
    &__post {
        text-decoration: none;
    }
    &__post:hover {
        text-decoration: none;
    }
    &__post:hover &__date {
        color: $color_32;
    }
    &__post:hover &__text {
        color: $color_33;
    }
    &__date {
        font: 400 0.75em 'Montserrat';
        color: $color_30;        
    }
    &__date_margin-bottom_02em {
        margin-bottom: 0.2em;
    }
    &__date_padding-bottom_0 {
        padding-bottom: 0;
    }
    &__text {
        font: 500 0.87em 'Montserrat';
        color: $color_18;
        padding-bottom: 1em;        
    }
    &__border-bottom_exist {
        border-bottom: solid 0.1em #252525;
    }
    &__border-bottom_none {
        border-bottom: none;
    }
    &__tweeter-text {
        padding-bottom: 0;
        margin-bottom: 0.4em;
    }
    &__tweeter-date {
        padding-bottom: 1em;
    }
    &__link:hover {
        color: $color_11;
        text-decoration: none;
    }
    &__widget-img {
        @include width-height(8.125em, 6.125em);
        padding: 0 0.68em 0.68em 0;
    }    
    @media #{$media-type_1} and (max-width: $screen-lg) {
        &__widget {
            max-width: 100%;
        }
        &__widget_text-align_center {
            text-align: center;
        }
    }
}


// FOOTER
.footer {
    @include width-height(100%, auto);
    background-color: $color_27;
    padding: 2.25em 0 3em 0;
    &__menu {
        font: 500 0.8em 'Montserrat';
        color: $color_25;
        padding-left: 1em;
        padding-right: 1em;           
    }
    .row {
        margin: 0 !important;
    }
    &__no-left-padding {
        padding-left: 0;
    }
    &__no-right-padding {
        padding-right: 0;
    }
    &__menu-border {        
        border-left: solid 0.1em $color_25;
    }
    &__link:hover {
        text-decoration-line: none;
        color: $color_23;
    }
    &__left-part {
        text-align: right;
    }    
    &__link {
        color: $color_26;
    }
    @media #{$media-type_1} and (max-width: $screen-lg) {
        &__left-part, &__right-part {
            text-align: center;
        }
        &__left-part {
            padding-bottom: 1.5em;
        } 
    }
}
